<h1><%=@actor.name%></h1><br><br>
Age: <%=@actor.age%><br><br>
Movies:<br>
<%@actor.movies.each do |movie|%>
  <%=movie.name%><br>
<%end%><br><br><br>

<h2>All Actors and Actresses <%=@actor.name%> has worked with:</h2> <br>
<%@actor.all_actors_worked_with.each do |actor|%>
  <%=actor.name%><br>
<%end%>
