<h1><%= @movie.name %></h1><br><br><br>

Year Created: <%=@movie.creation_year%><br><br>
Genre: <%= @movie.genre%><br><br>

Actors:<br>
<%@movie.actors_by_age.each do |actor|%>
  <%= link_to "#{actor.name}", "/actors/#{actor.id}"%>
  <%=actor.age%><br>
<%end%><br><br><br><br>

Average Age of Actors:
<%=@movie.average_age_of_actors.round(2)%><br><br><br><br>

See a missing actor in the list above? Please add them!<br>

<%= form_tag "/movies/#{@movie.id}", method: :patch do %><br>
  <%= label_tag :name %><br>
  <%= text_field_tag :name%><br>

  <%= submit_tag 'Submit' %><br>
<% end %>
